html {
  background-color: #849d8f;
}

body {
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: white;
  margin: 0;
}

h1 {
  font-family: Roboto, Arial, sans-serif;
  font-size: 35px;
  font-weight: bold;
  line-height: 41px;

  color: white;
}

h2 {
  font-family: Roboto, Arial, sans-serif;
  font-size: 35px;
  font-weight: bold;
  line-height: 41px;

  color: white;
}

.container {
  min-width: 860px;
  max-width: 1146px;
  padding-left: 23px;
  padding-right: 23px;
  margin: 0 auto;
}

.main-header .first-line {
  padding-top: 10px;
}

.logo {
  float: left;

  margin-right: 30px;
}

.logo-lnk {
  float: left;

  margin-right: 30px;
}

.call-us {
  float: right;
}

.main-navigation {
  float: left;
  width: 395px;
}

.main-navigation ul {
  padding: 0;
}

.main-navigation li {
  display: inline-block;
  margin-right: 25px;
  list-style: none;
  padding: 0;
}

.main-navigation a {
  color: white;
}

.breadcrumbs {
  float: left;
}

.user-block {
  float: right;
  font-size: 0;
}

.user-block :nth-child(n) {
  display: inline-block;
  margin-left: 10px;
}

.user-block a {
  color: white;
  font-size: 16px;
  line-height: 18px;
  display: inline-block;
  text-decoration: none;
  padding: 10px;
  padding-left: 44px;
  background-color: #9db1a5;
  border-radius: 22px;
}

.search a {
  padding-left: 10px;
}

.breadcrumbs li {
  display: inline-block;
}

form {
  margin-bottom: 30px;
}

form :nth-child(n) {
  display: inline-block;
}

form p {
  width: 100%;
}

.selecter-sort {
  width: 192px;
  margin-right: 14px;
}

.selecter-price {
  width: 218px;
  margin-right: 14px;
}

.selecter-fat {
  width: 413px;
}

.selecter-inside {
  width: 701px;
  margin-right: 11px;
}

.selecter-btn {
  width: 143px;
}

.slider-wrapper {
  min-height: 790px;
  margin-top: -70px;
  margin-right: auto;
  margin-bottom: -221px;
  margin-left: auto;

  background: url('../img/pair-icecreams-1.png') no-repeat 50%;
  position: relative;
}

.radio-wrapper {
  position: absolute;
  top: 480px;
}

.slider-wrapper a {
  position: absolute;
  top: 480px;
  left: 600px;
}

.two-card-wrapper {
  margin-bottom: 40px;
}

.card {
  width: 49%;
  min-height: 230px;
  border-radius: 20px;
}

.present-left {
  float: left;
  position: relative;

  background: url('../img/present-raspberry.jpg') no-repeat;
}

.present-right {
  float: right;
  position: relative;

  background: url('../img/present-choko.jpg') no-repeat;
}

.catalog-index {
  margin-bottom: 16px;
  max-height: 337px;
}

.catalog {
  margin-bottom: 55px;
}

.catalog-item:last-child,
.catalog-first-line :last-child,
.catalog-second-line :last-child,
.catalog-thrid-line :last-child {
  margin-right: 0;
}

.catalog-item {
  float: left;
  width: 22%;
  margin-right: 4%;
  margin-bottom: 25px;
}

.catalog-item p {
  text-align: center;
}

.catalog-pic img {
  width: 100%;
}

.features {
  font-size: 0;

  margin-bottom: 40px;
  padding-top: 5px;

  color: black;
  min-height: 368px;
}

.features h2 {
  /*display: block;*/
  font-size: 24px;
  line-height: 30px;
  /*width: 786px;*/
}

.feature-item {
  font-size: 16px;

  display: inline-block;

  width: 48%;

  vertical-align: top;
}

.feature-item:nth-child(2n) {
  margin-right: 4%;
}

.feature-pic {
  display: inline-block;

  vertical-align: top;
}

.feature-text {
  display: inline-block;

  width: 90%;

  vertical-align: top;
}

.second-card-block .card {
  min-height: 220px;
  width: 49%;
  border-radius: 20px;
}

.news {
  float: left;
  background: url('../img/news-strawberry.jpg') no-repeat;
}

.mailout {
  float: right;
  background: url('../img/mailout-border.jpg') no-repeat;
}

.map {
  width: 900px;
  height: 430px;
  position: relative;
  background: url("../img/map.jpg") no-repeat;
  margin-bottom: 20px;
}

.pin {
  position: absolute;
  top: 138px;
  left: 185px;
  background: url("../img/pin.png") no-repeat;
}

.map-contact {
  position: absolute;
  width: 302px;
  height: 305px;
  right: 20px;
  top: 62px;
}

.pagination {
  float: right;
  margin-top: 100px;
  margin-bottom: 47px;
  font-size: 16px;
}

.pagination :nth-child(n) {
  display: inline-block;
}

.footer-social {
  float: left;

  width: 200px;
  min-height: 32px;
  margin-right: 20px;
}

.footer-link {
  float: left;
  /* margin: 0 auto; */
  width: 420px;
}

.footer-copyright {
  float: right;

  width: 200px;
}





.clearfix::after {
  display: table;
  clear: both;

  width: 100%;

  content: '';
}







/*
TMP
*/
/*
body {
  background: #849d8f url('../img/gllacy-index-900.jpg') no-repeat 50% 1px;
}

/*
OUTLINE
*/


.slider-wrapper {
  outline: 2px dotted #00f;
}

.container {
  opacity: 0.8;
  background-color: #7f6eff;
}

.container > * {
  background-color: #6eff75;
}

.container > * > * {
  background-color: #becc41;
}
/**/
