body {
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;

  position: relative;

  min-width: 900px;
  max-width: 1200px;
  margin: 0 auto;

  color: white;
  background-color: #849d8f;
}

body > input[type='radio'] {
  display: none;
}

h1 {
  font-family: Roboto, Arial, sans-serif;
  font-size: 35px;
  font-weight: bold;
  line-height: 41px;

  margin: 0;
  padding: 0;

  color: white;
}

h2 {
  font-family: Roboto, Arial, sans-serif;
  font-size: 35px;
  font-weight: bold;
  line-height: 41px;

  color: white;
}

.container {
  position: relative;

  min-width: 860px;
  max-width: 1146px;
  margin: 0 auto;
  padding-right: 27px;
  padding-left: 27px;
}

.main-header .first-line {
  padding-top: 10px;
}

.logo {
  float: left;

  margin-right: 16px;
  margin-left: -5px;
}

.logo-lnk {
  float: left;

  margin-right: 16px;
  margin-left: -5px;
}

.main-navigation {
  float: left;

  width: 400px;
  padding-top: 14px;
}

.main-navigation ul {
  font-size: 0;

  padding: 0;

  list-style: none;
}

.main-navigation li {
  display: inline-block;

  padding: 0;
}

.main-navigation span {
  border-bottom: 1px solid rgba(255, 255, 255, .2);
}

.main-navigation a {
  font-size: 16px;
  line-height: 18px;

  display: block;

  text-decoration: none;

  color: white;
}

.main-navigation li:hover a {
  font-size: 16px;
  line-height: 18px;

  z-index: 5;

  display: block;

  padding-top: 6px;
  padding-right: 14px;
  padding-bottom: 8px;
  padding-left: 14px;

  text-decoration: none;

  color: black;
  border-radius: 21px;
  background: white;
}

.main-navigation li:hover .popup-main-nav {
  z-index: 5;

  display: block;
}

.lnk-main-nav {
  padding-top: 6px;
  padding-right: 14px;
  padding-bottom: 0;
  padding-left: 14px;
}

.padd-null {
  padding-left: 14px;
}

.active-main-nav {
  padding-top: 6px;
  padding-right: 14px;
  padding-bottom: 8px;
  padding-left: 14px;

  border-radius: 21px;
  background-color: #e64e37;
}

.user-block {
  font-size: 0;

  float: right;

  margin-top: 13px;
}

.user-block > * {
  display: inline-block;

  margin-left: 10px;

  vertical-align: middle;
}

.user-block a {
  font-size: 14px;
  line-height: 16px;

  display: block;

  padding-left: 44px;

  text-decoration: none;

  color: white;
  border-radius: 22px;
  background-color: rgba(255, 255, 255, .2);
}

.login .user-block-link {
  position: relative;

  width: 48px;
  height: 24px;
  padding-top: 8px;
  padding-left: 44px;
}

.log-in-svg {
  position: absolute;
  top: 5px;
  left: 15px;
}

.login .user-block-link:hover {
  color: black;
  background: #f8f7f4;
}

.login .user-block-link:hover .cls-1 {
  fill: #000;
}

.basket .user-block-link {
  position: relative;

  width: 72px;
  height: 24px;
  padding-top: 7px;
  padding-left: 44px;
}

.basket-svg {
  position: absolute;
  top: 5px;
  left: 15px;
}

.basket .user-block-link:hover {
  color: black;
  background: #f8f7f4;
}

.basket .user-block-link:hover .cls-1 {
  fill: #000;
}

.search .user-block-link {
  position: relative;

  display: block;

  width: 33px;
  height: 33px;
  padding: 0;

  border-radius: 50%;
}

.hand-glass-svg {
  position: absolute;
  top: 7px;
  left: 8px;
}

.search .user-block-link:hover {
  background: #f8f7f4;
}

.search .user-block-link:hover .cls-1 {
  fill: #000;
}

.breadcrumbs {
  float: left;

  margin-top: 20px;
}

.breadcrumbs ul {
  font-size: 0;

  margin: 0;
  padding: 0;

  list-style: none;
}

.breadcrumbs li {
  font-size: 14px;
  line-height: 16px;

  display: inline-block;

  height: 16px;

  vertical-align: middle;
}

.breadcrumbs li:after {
  padding-right: 6px;
  padding-bottom: 0;
  padding-left: 6px;

  content: '»';
}

.breadcrumbs li:first-child {
  padding-left: 0;
}

.breadcrumbs li:last-child::after {
  content: '';
}

.breadcrumbs-item {
  text-decoration: none;

  color: white;
  border-bottom: 1px solid #a6bdb1;
}

.no-active {
  pointer-events: none;

  border-bottom: 0 solid #fff;
}

.call-us {
  font-size: 14px;
  line-height: 16px;

  float: right;

  margin-top: -5px;

  text-align: right;
}

.index .call-us {
  margin-top: 0;
}

.call-us p {
  margin: 0;
}

.call-us a {
  font-size: 22px;
  line-height: 24px;

  display: block;

  margin-top: 5px;

  text-decoration: none;

  color: white;
}

.lnk {
  font-size: 16px;
  line-height: 22px;

  padding-left: 0;

  text-decoration: none;

  color: white;
}

.btn {
  font-size: 16px;
  line-height: 18px;

  padding-top: 5px;
  padding-right: 13px;
  padding-bottom: 8px;
  padding-left: 14px;

  text-decoration: none;

  color: white;
  border-radius: 21px;
  background-color: #e64e37;
  box-shadow: 0 2px 2px 0 rgba(85, 8, 0, .54);
}

.mailout .btn {
  border: none;
  background: linear-gradient(to top, #e74b36, #f26843);
}

.main-catalog {
  border-bottom: 1px solid rgba(255, 255, 255, .3);
}

.main-catalog h1 {
  margin-bottom: 19px;
}

.second-line {
  margin-bottom: 2px;
}

form {
  margin-bottom: 40px;
}

form :nth-child(n) {
  display: inline-block;

  vertical-align: top;
}

form p {
  width: 24%;
  margin: 0;
  margin-top: 6px;
  margin-bottom: 6px;
  padding-left: 16px;
}

.form {
  font-size: 16px;
  line-height: 18px;

  display: block;

  padding: 10px 16px;

  text-decoration: none;

  color: white;
  border-radius: 25px;
  background: rgba(255, 255, 255, .2);
  background-color: #aabbb1;
}

.selecter-sort {
  position: relative;

  width: 192px;
  margin-right: 14px;
  margin-bottom: 8px;
}

.selecter-sort .form {
  margin: 0;
  padding: 0;

  border-radius: none;
  background: none;
}

select[name='sort'] {
  width: 163px;
  width: 192px;
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 8px;
  padding-left: 10px;

  color: white;
  border: none;
  border-radius: 25px;
  background: #aabbb1;
  background: rgba(255, 255, 255, .2);

  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.marker-select {
  position: absolute;
  top: 45px;
  right: 13px;
}

.selecter-price {
  width: 218px;
  margin-right: 14px;
}

.selecter-price .form {
  position: relative;

  display: block;

  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 30px;
  padding-left: 10px;
}

.range-line {
  position: absolute;
  top: 15px;
  left: 10px;

  width: 190px;
  height: 3px;

  background: #f8f7f4;
}

.range-one {
  position: absolute;
  top: 6px;
  left: 33px;

  width: 22px;
  height: 22px;

  cursor: pointer;

  border-radius: 50%;
  background: #f8f7f4;
}

.range-two {
  position: absolute;
  top: 6px;
  right: 65px;

  width: 22px;
  height: 22px;

  cursor: pointer;

  border-radius: 50%;
  background: #f8f7f4;
}

.selecter-fat {
  width: 413px;
}

.selecter-fat .form {
  padding-top: 7px;
  padding-right: 22px;
  padding-left: 8px;
}

.selecter-fat .radio-label {
  margin-right: 15px;
}

.selecter-fat .radio-label:last-child {
  margin-right: 0;
}

.selecter-fat .radio-label {
  position: relative;

  padding-left: 30px;

  cursor: pointer;
}

.selecter-fat input[type='radio'] {
  display: none;
}

.selecter-fat input[type='radio'] + .radio-indicator {
  position: absolute;
  top: 0;
  left: 5px;

  width: 18px;
  height: 18px;

  border: 1px solid white;
  border-radius: 50%;
}

.selecter-fat input[type='radio']:checked + .radio-indicator::before {
  position: absolute;
  top: 4px;
  left: 4px;

  width: 10px;
  height: 10px;

  content: '';

  border-radius: 50%;
  background: white;
}

.selecter-inside {
  width: 701px;
  margin-right: 11px;
}

.selecter-inside .checkbox-label {
  margin-right: 20px;
}

.selecter-inside .checkbox-label:last-child {
  margin-right: 0;
}

.selecter-inside .form {
  padding-top: 8px;
  padding-right: 26px;
  padding-left: 11px;
}

.checkbox-label {
  position: relative;

  padding-left: 30px;

  cursor: pointer;
}

.selecter-inside input[type='checkbox'] {
  display: none;
}

.selecter-inside input[type='checkbox'] + .checkbox-indicator {
  position: absolute;
  top: 0;
  left: 5px;

  width: 18px;
  height: 18px;

  border: 1px solid white;
  border-radius: 3px;
}

.selecter-inside input[type='checkbox']:checked + .checkbox-indicator::before,
.selecter-inside input[type='checkbox']:checked + .checkbox-indicator::after {
  position: absolute;

  content: '';

  background: white;
}

.selecter-inside input[type='checkbox']:checked + .checkbox-indicator::before {
  top: 8px;
  left: 3px;

  width: 6px;
  height: 3px;

  transform: rotate(45deg);
}

.selecter-inside input[type='checkbox']:checked + .checkbox-indicator::after {
  top: 7px;
  left: 5px;

  width: 12px;
  height: 3px;

  transform: rotate(-45deg);
}

.selecter-btn {
  width: 143px;
  margin-top: 30px;
  padding-top: 6px;
  padding-bottom: 8px;

  cursor: pointer;

  color: inherit;
  border: 2px solid #fcfcfc;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, .188);
}

.slider-btn {
  padding-top: 6px;
  padding-right: 40px;
  padding-bottom: 13px;
  padding-left: 40px;

  text-decoration: none;

  color: white;
  background: linear-gradient(to top, #e74b36, #f26843);
  background-color: #e64e37;
  box-shadow: 0 2px 2px 0 rgba(172, 16, 0, .64);
}

a.slide {
  font-size: 32px;
  font-weight: bold;
  line-height: 44px;

  border-radius: 31px;
  text-shadow: 0 2px 2px #a0200b;
}

.two-card-wrapper {
  margin-bottom: 40px;
}

.card {
  width: 45%;
  min-height: 230px;
  padding-top: 0;
  padding-right: 21px;
  padding-bottom: 0;
  padding-left: 20px;

  border-radius: 17px;
}

.card:first-child {
  margin-right: 1px;
}

.present-left {
  position: relative;

  float: left;

  background: #5d000e url('../img/present-raspberry.jpg') no-repeat;
}

.present-left h2,
.present-right h2 {
  font-size: 35px;
  line-height: 41px;

  margin-top: 16px;
  margin-bottom: 15px;
}

.present-left p,
.present-right p {
  font-size: 18px;
  line-height: 22px;

  height: 79px;
  margin-top: 0;
  margin-bottom: 9px;
}

.present-btn {
  float: right;

  margin-bottom: 20px;

  vertical-align: middle;
}

.card-btn {
  font-size: 18px;
  line-height: 24px;

  display: block;

  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 12px;
  padding-left: 20px;

  text-decoration: none;

  color: white;
  border-radius: 21px;
  background: linear-gradient(to top, #e74b36, #f26843);
  background-color: #e64e37;
  box-shadow: 0 2px 2px 0 rgba(85, 8, 0, .54);
}

.present-right {
  position: relative;

  float: right;

  background: #583529 url('../img/present-choko.jpg') no-repeat;
}

.catalog-index {
  max-height: 337px;
  margin-bottom: 24px;
}

.catalog-index .catalog-item {
  position: relative;
}

.catalog-top-pic {
  position: absolute;
  z-index: inherit;
  top: 0;
  left: 0;

  overflow: hidden;

  width: 61px;
  height: 61px;

  border-radius: 50%;
  background: url('../img/hit.jpg') no-repeat 50%;
}

.catalog-item:last-child,
.catalog-first-line :last-child,
.catalog-second-line :last-child,
.catalog-thrid-line :last-child {
  margin-right: 0;
}

.catalog-second-line,
.catalog-first-line {
  margin-bottom: 16px;
}

.catalog-item-overlay {
  position: absolute;
  top: -5px;
  left: -10px;

  display: none;

  width: 108%;
  height: 120%;

  border-radius: 5px;
  background: #9db1a5;
  background: rgba(248, 247, 244, .3);
}

.catalog-item-overlay .overlay-btn {
  position: absolute;
  z-index: 1;
  bottom: 21px;
  left: 50%;

  margin-left: -101px;
  padding-top: 10px;
  padding-right: 17px;
  padding-bottom: 10px;
  padding-left: 17px;
}

.catalog-item {
  position: relative;

  float: left;

  width: 23.3%;
  margin-right: 1.1%;
  margin-bottom: 10px;
  margin-left: 1.1%;
}

.catalog-index .catalog-item {
  margin-bottom: 0;
}

.catalog-item:first-child {
  margin-left: 0;
}

.catalog-item:last-child {
  margin-right: 0;
}

.catalog-item:hover .catalog-item-content {
  z-index: 10;
}

.catalog-item:hover .catalog-item-overlay {
  z-index: 5;

  display: block;
}

.catalog-item p {
  z-index: inherit;

  margin-top: 8px;

  text-align: center;
}

.catalog-item .lnk {
  z-index: inherit;

  border-bottom: 1px solid rgba(255, 255, 255, .2);
}

.catalog-item .btn {
  font-size: 18px;
  line-height: 24px;

  position: absolute;

  display: block;
}

.catalog-pic {
  position: relative;
  z-index: inherit;
}

.catalog-pic .image {
  width: 100%;
}

.catalog-price {
  font-size: 45px;
  font-weight: bold;
  line-height: 45px;

  position: absolute;
  bottom: 13px;
  left: 1px;
}

.price-litle {
  font-size: 30px;
}

.features {
  font-size: 0;

  margin-bottom: 41px;

  color: black;
}

.features .features-background {
  padding: 20px;
  padding-bottom: 15px;

  border-radius: 14px;
  background: #ebdec5 url('../img/background-waffle.jpg');
}

.features h2 {
  font-size: 24px;
  line-height: 30px;

  margin-top: 0;
  margin-bottom: 10px;
  padding-top: 5px;

  color: #323232;
}

.features p {
  margin-top: 11px;
  margin-bottom: 10px;
  padding-left: 3px;

  color: #323232;
}

.feature-item {
  font-size: 16px;
  line-height: 22px;

  display: inline-block;

  width: 48%;

  vertical-align: top;
}

.feature-item:nth-child(2n) {
  margin-right: 3%;
}

.feature-pic {
  display: inline-block;

  vertical-align: top;
}

.feature-text {
  display: inline-block;

  width: 90%;

  vertical-align: top;
}

.second-card-block .card {
  width: 45%;
  min-height: 211px;

  border-radius: 16px;
}

.second-card-block {
  margin-bottom: 38px;
}

.news {
  float: left;

  margin-right: 20px;
  padding-top: 7px;

  background: url('../img/news-strawberry.jpg') no-repeat;
}

.news p {
  margin-bottom: 7px;

  color: #323232;
}

.news a {
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;

  display: block;

  width: 300px;
  margin: 0;

  color: #323232;
}

.mailout {
  float: right;

  padding: 5px;

  background: url('../img/mailout-border.jpg') no-repeat;
}

.mailout p {
  font-size: 16px;
  line-height: 22px;

  margin: 0;
  margin-bottom: 35px;
}

.mailout input {
  margin-right: 5px;
  padding-top: 11px;
  padding-right: 110px;
  padding-bottom: 13px;
  padding-left: 13px;

  border: 1px solid #d3d3d2;
  border-radius: 3px;
}

.mailout .btn {
  font-size: 18px;
  line-height: 24px;

  padding-top: 7px;
  padding-right: 19px;
  padding-bottom: 10px;
  padding-left: 21px;
}

.mailout-background {
  height: 181px;
  padding-top: 29px;
  padding-right: 20px;
  padding-left: 20px;

  color: #5a5a5a;
  border-radius: 16px;
  background: #f8f7f4;
}

.map {
  position: relative;

  height: 430px;
  margin-bottom: 20px;
}

.pin {
  position: absolute;
  top: 138px;
  left: 185px;

  background: url('../img/pin.png') no-repeat;
}

.map-contact {
  font-size: 14px;
  line-height: 20px;

  position: absolute;
  top: 40px;
  right: 27px;

  width: 277px;
  height: 275px;
  padding-top: 29px;
  padding-left: 25px;

  color: black;
  border-radius: 16px;
  background: #fefefe;
}

.map-contact-1 {
  font-size: 14px;
  line-height: 20px;
}

.map-contact-2 {
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
}

.map-contact-3 {
  font-size: 14px;
  line-height: 20px;

  display: block;

  margin-bottom: 6px;
}

.map-contact-4 {
  font-size: 18px;
  line-height: 22px;
}

.map-contact-5 {
  font-size: 14px;
  line-height: 22px;
}

.map-contact p {
  margin: 0;
  margin-bottom: 18px;
}

.map-contact .map-contact-p {
  margin-bottom: 24px;
}

.map-contact-btn {
  font-size: 18px;
  line-height: 24px;

  display: block;

  width: 205px;
  padding-top: 9px;
  padding-right: 17px;
  padding-bottom: 12px;
  padding-left: 29px;

  background: linear-gradient(to top, #e74b36, #f26843);
}

.pagination {
  font-size: 16px;

  float: right;

  margin-top: 54px;
  margin-bottom: 31px;
}

.pagination a {
  display: inline-block;

  margin-left: 1px;
  padding-top: 2px;
  padding-right: 7px;
  padding-bottom: 3px;
  padding-left: 7px;

  text-align: center;
  text-decoration: none;

  color: white;
  border-radius: 50%;
}

.pagination .active {
  color: black;
  background: rgb(255, 255, 255);
}

.pagination a:hover {
  color: white;
  background: rgba(255, 255, 255, .3);
}

.main-footer {
  margin-top: 30px;
}

.footer-social {
  float: left;

  width: 200px;
  min-height: 32px;
  padding-top: 5px;
  padding-left: 1px;
}

.social-btn {
  display: inline-block;

  width: 31px;
  height: 31px;
  margin-right: 9px;

  border: 3px solid rgba(255, 255, 255, .5);
  border-radius: 50%;
}

.footer-link {
  position: relative;

  float: left;

  width: 335px;
  margin-left: 15%;
}

.footer-link .lnk {
  font-size: 13px;
  line-height: 16px;

  display: block;
}

.footer-link span {
  border-bottom: 1px solid white;
}

.footer-link .lnk-bold {
  font-weight: bold;
}

.footer-link .link-pic,
.footer-link .link-left,
.footer-link .link-right {
  display: inline-block;
}

.footer-link .link-pic {
  position: absolute;
  top: 3px;
  left: 1px;
}

.footer-link .link-left {
  margin-right: 28px;
  margin-left: 22px;
}

.footer-link .lnk,
.footer-link .lnk {
  margin-top: 3px;
  margin-bottom: 6px;
}

.footer-copyright {
  font-size: 12px;
  line-height: 16px;

  position: relative;

  float: right;

  width: 189px;
}

.footer-logo {
  position: absolute;
  top: -11px;
  left: 1px;
}

.footer-copyright a {
  font-size: inherit;
  line-height: inherit;
}

.footer-copyright p {
  margin-top: 30px;
}

.login .popup-login {
  position: absolute;
  z-index: 3;
  top: 59px;
  right: 152px;

  display: none;

  width: 237px;
  padding-top: 21px;
  padding-right: 20px;
  padding-bottom: 0;
  padding-left: 20px;

  border-radius: 5px;
  background: #f8f7f4;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, .4);
}

.login:hover .popup-login {
  display: block;
}

.login-form {
  margin-bottom: 22px;
}

.login-form input[type='text'],
.login-form input[type='password'] {
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;

  width: 210px;
  margin: 0;
  margin-bottom: 22px;
  padding: 6px 13px;
  padding-bottom: 10px;

  color: #000;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
}

.popup-login-link-block {
  position: absolute;
  right: 20px;
  bottom: 24px;

  display: block;
}

.popup-login-link-block .lnk {
  font-size: 13px;
  line-height: 21px;

  display: block;

  margin: 0;
  padding-left: 0;

  text-decoration: underline;

  color: black;
}

.popup-login-btn {
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;

  padding-top: 9px;
  padding-right: 24px;
  padding-bottom: 10px;
  padding-left: 23px;

  cursor: pointer;

  border: none;
  border-radius: 19px;
}

.popup-main-nav .popup-main-nav-ul li a {
  border-radius: 5px;
}

body header .main-navigation .popup-main-nav {
  position: absolute;
  top: 60px;
  left: 184px;

  display: none;

  border-radius: 5px;
  background: #f8f7f4;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, .4);
}

.popup-main-nav ul {
  position: relative;
  z-index: 3;

  margin: 0;
  padding: 0;

  list-style: none;
}

.popup-main-nav div {
  position: absolute;
  z-index: 2;
  top: -10px;
  left: 0;

  width: 100px;
  height: 40px;
}

.bridge {
  position: absolute;
  z-index: 2;
  top: -10px;
  right: 0;

  width: 100px;
  height: 40px;
}

.popup-main-nav li {
  display: block;
}

.popup-main-nav .lnk {
  font-size: 14px;
  line-height: 16px;

  display: block;

  padding-top: 9px;
  padding-right: 22px;
  padding-bottom: 7px;
  padding-left: 20px;

  color: black;
}

.popup-main-nav .lnk:hover {
  background: #fbded7;
}

.popup-main-nav .lnk:active {
  background: #f6b5a5;
}

.popup-main-nav .popup-main-nav-first {
  padding-top: 10px;
  padding-bottom: 10px;

  border-bottom: 1px solid #d1d0ce;
}

.popup-search {
  font-size: 14px;
  line-height: 24px;

  position: absolute;
  z-index: 3;
  top: 60px;
  right: 256px;

  display: none;

  border-radius: 5px;
  background: #f8f7f4;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, .4);
}

.search:hover .popup-search {
  display: block;
}

.popup-search input {
  width: 282px;
  margin: 19px 15px;
  padding: 12px 14px;

  border: 1px solid #d3d3d2;
  border-radius: 5px;
}

.search .user-block-link:hover .popup-search {
  display: block;
}

.popup-feedback {
  position: fixed;
  z-index: 2;
  top: 10%;
  left: 50%;

  display: none;

  width: 427px;
  margin-left: -237px;
  padding: 15px 25px;

  border-radius: 5px;
  background: #f8f7f4;
}

.button-close {
  font-size: 0;

  position: absolute;
  top: 12px;
  right: 12px;

  width: 23px;
  height: 23px;

  cursor: pointer;

  border: 0;
  outline: 0;
  background: #f8f7f4;
}

.button-close::before,
.button-close::after {
  position: absolute;
  top: 10px;
  left: 0;

  width: 23px;
  height: 3px;

  content: '';

  border-radius: 1px;
  background: #2c2c2b;
}

.button-close::before {
  transform: rotate(45deg);
}

.button-close::after {
  transform: rotate(-45deg);
}

.popup-feedback b {
  font-size: 24px;
  line-height: 28px;

  display: block;

  margin: 0;
  margin-bottom: 21px;

  color: black;
}

.popup-feedback input {
  display: block;
}

.popup-feedback input[name='feedback-name'],
.popup-feedback input[name='feedback-mail'] {
  width: 240px;
}

.popup-feedback input[name='feedback-message'] {
  width: 400px;
  padding-bottom: 124px;
}

.popup-feedback .feedback-btn {
  text-align: right;

  border: none;
}

.feedback-overlay {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;

  display: none;

  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, .4);
}

.popup-basket {
  position: absolute;
  z-index: 3;
  top: 60px;
  right: 27px;

  display: none;

  width: 509px;
  padding-top: 20px;
  padding-right: 15px;
  padding-left: 16px;

  color: black;
  border-radius: 5px;
  background: #f8f7f4;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, .4);
}

.active-bskt:hover .popup-basket {
  display: block;
}

.popup-basket-item * {
  font-size: 0;

  display: inline-block;

  vertical-align: middle;
}

.popup-basket-item {
  margin-bottom: 20px;
}

.popup-basket-item-name,
.popup-basket-item-price,
.popup-basket-item-total {
  font-size: 13px;
  line-height: 16px;

  color: #323232;
}

.popup-basket-item span {
  font-size: 13px;
  line-height: 17px;

  color: #999;
}

.popup-basket-item-pic img {
  width: 33px;
  height: 33px;
}

.popup-basket-item:last-child {
  border-bottom: 3px solid black;
}

.popup-basket-item-close {
  width: 27px;
}

.popup-basket-item-close .button-close::before,
.popup-basket-item-close .button-close::after {
  width: 16px;
  height: 2px;
}

.remove-basket-item-1 {
  top: 24px;
  left: 13px;

  background: #f8f7f4;
}

.remove-basket-item-2 {
  top: 78px;
  left: 13px;

  background: #f8f7f4;
}

.popup-basket-item-name {
  width: 230px;
  margin-left: 11px;
}

.popup-basket-item-price {
  width: 110px;
  margin-left: 17px;
}

.popup-basket-item-total {
  margin-left: 13px;
}

.popup-basket-total {
  font-size: 15px;
  font-weight: bold;
  line-height: 18px;

  display: block;

  margin-top: 37px;
  margin-bottom: 10px;
  margin-left: 78.5%;

  color: #000;
}

.popup-basket .btn {
  font-size: 18px;
  line-height: 24px;

  float: right;

  margin-top: 5px;
  margin-bottom: 15px;
  padding-top: 8px;
  padding-right: 15px;
  padding-bottom: 13px;
  padding-left: 15px;

  border-radius: 100px;
  background: #f26843;
  background:    -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, .64);
}

.slide-title {
  font-size: 18px;
  line-height: 1.2;
}

.site-wrapper {
  transition: background-image .5s ease, background-color .5s ease;

  background-color: #849d8f;
  background-image: url('../img/pair-icecreams-1.png');
  background-repeat: no-repeat;
  background-position: top center;
}

.site-wrapper:before,
.site-wrapper:after {
  visibility: hidden;

  content: '';
}

.site-wrapper:before {
  background-image: url('../img/pair-icecreams-2.png');
}

.site-wrapper:after {
  background-image: url('../img/pair-icecreams-3.png');
}

.content-wrapper {
  margin: 0 auto;
}

.slider {
  position: relative;

  margin-bottom: 41px;
  padding-top: 270px;

  text-align: center;

  color: #fff;
}

.slide {
  display: none;
}

.slide-title {
  font-size: 60px;
  font-weight: 800;
  line-height: 60px;

  width: 700px;
  margin: 0 auto;
  margin-bottom: 32px;
}

.slide-btn {
  font-size: 31px;
  font-weight: 600;
  line-height: 41px;

  display: inline-block;

  padding: 9px 44px;
  padding-bottom: 13px;

  vertical-align: top;
  text-decoration: none;

  color: #fff;
  border-radius: 100px;
  background: #f26843;
  background:    -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, .64);
  text-shadow: 0 2px 5px rgba(160, 32, 11, .76);
}

.slide-btn:hover {
  background:    -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.slide-btn:active {
  background:    -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-controls {
  font-size: 0;

  position: absolute;
  z-index: 20;
  bottom: 22px;
  left: 27px;
}

.slider-controls label {
  display: inline-block;

  width: 17px;
  height: 17px;
  margin-right: 8px;

  cursor: pointer;
  vertical-align: top;

  border: 2px solid #fff;
  border-radius: 50%;
  background-color: transparent;
}

#btn-1:checked ~ .site-wrapper #slide1,
#btn-2:checked ~ .site-wrapper #slide2,
#btn-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#btn-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url('../img/pair-icecreams-1.png');
}

#btn-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url('../img/pair-icecreams-2.png');
}

#btn-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url('../img/pair-icecreams-3.png');
}

#btn-1:checked ~ .site-wrapper label[for='btn-1'],
#btn-2:checked ~ .site-wrapper label[for='btn-2'],
#btn-3:checked ~ .site-wrapper label[for='btn-3'] {
  background-color: #fff;
}

.action-btn:hover {
  background:    -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.action-btn:active {
  background:    -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.action-lnk:hover {
  color: #ffbc9e;
}

.action-lnk span {
  border-bottom: 1px solid rgba(255, 255, 255, .2);
}

.action-lnk:hover span {
  border-bottom: 1px solid rgba(105, 0, 0, .2);
}

.selecter-btn:hover {
  color: black;
  background: white;
}

.selecter-btn:active {
  color: black;
  background: #eaeaea;
  box-shadow: inset 0 2px 1px 0 rgba(105, 105, 105, .4);
}

.slider-controls label:hover {
  background: rgba(255,255,255,.4);
}

.selecter-fat input[type='radio'] + .radio-indicator:hover {
  top: -1px;
  left: 4px;

  border: 2px solid white;
}

.selecter-inside input[type='checkbox'] + .checkbox-indicator:hover {
  top: -1px;
  left: 4px;

  border: 2px solid white;
}

select[name='sort']:hover {
  color: black;
  background: white;
}

.social-btn:hover .cls-1 {
  opacity: 1;
}

.clearfix::after {
  display: table;
  clear: both;

  width: 100%;

  content: '';
}

.popup-show {
  display: block;
}
